<div class="container">
  <h1>Dynamic Form</h1>

  <%= simple_form_for @form, url: states_path do |f| %>
      <%= f.input :zone %>
      <%= f.input :country_id, as: :select %>
      <%= f.input :name, placeholder: 'State Name', label: 'State Name' %>
      <%= f.button :submit, class: 'button expanded', value: 'Submit' %>
  <% end %>

  <hr>

  <h2>Created States</h2>

  <ul>
    <% State.find_each do |state| %>
        <li><%= state.inspect %></li>
    <% end %>
  </ul>
</div>
