<div class="container">
  <h1>Create City (Rails React)</h1>

  <%= simple_form_for @form, url: cities_path, html: { class: 'create-state-form' } do |f| %>
      <%= f.input :zone_id, collection: f.object.zone_options, include_blank: false, input_html: { 'data-update' => true } %>
      <%= f.input :country_id, collection: f.object.country_options, include_blank: false, input_html: { 'data-update' => true } %>
      <%= f.input :state_id, collection: f.object.state_options, include_blank: false %>
      <%= f.input :name %>
      <%= f.submit 'Submit', class: 'btn btn-primary' %>

      <%= hidden_field_tag :variant, :react %>

      <%= link_to 'Cancel', cities_path, class: 'btn btn-default' %>
  <% end %>

  <script type="text/javascript">
    (function ($) {
      var $form             = $(".create-state-form");
      var $updateableFields = $("[data-update]", $form);
      var newStatePath      = "<%= new_city_path %>";

      $updateableFields.on("change", function () {
        $form.prop({action: newStatePath, method: "get"}).submit();
      })
    })(jQuery);
  </script>
</div>
